<%- include('partials/header.ejs') %>
<h1>You are logged in</h1>

<form method="get">
  <input type="submit" value="Tentor" formaction="/showall" />
  <input type="submit" value="Skapa En Tenta" formaction="/new" />
</form>

<%- include('partials/footer.ejs') %>
