<%- include('partials/header.ejs') %>
<form action="/login" method="post">
  <input type="text" name="username" />
  <input type="password" name="password" />
  <input type="submit" value="Login" />
</form>
<% if (locals.error) { %>
<p>Error: <%= locals.error %></p>
<% } %> <%- include('partials/footer.ejs') %>
