

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  margin: 0 5px;
}


input[readonly] {
  -webkit-text-fill-color: black !important;
  color: black !important;
  background-color: white !important;
  border: 1px solid #ced4da;
  pointer-events: none;
  opacity: 1 !important;
  user-select: text;
}

input[readonly]:focus {
  outline: none;
  box-shadow: none;
}
